@import 'tailwindcss';
@source "../..";

@theme static {
  --color-background-light: #f9f9f9;
  --second-background-color-light: #2a7ae4;
  --color-background-dark: #121212;
  --second-background-color-dark: #121212;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .news-article {
    @apply max-w-[500px] shadow-md;
    background-color: var(--color-surface);
    padding: 16px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flow-root; /* ← ключевой фикс */
  }

  .news-article-title {
    @apply font-bold;
    font-size: var(--font-size-heading);
    color: var(--color-primary);
    margin-bottom: 8px;
  }

  .news-article-text {
    font-size: var(--font-size-base);
    color: var(--color-text);
    line-height: 1.6;
    margin-bottom: 16px;
  }

  .news-article figure {
    margin: 0; /* сброс дефолтных маржинов figure */
  }

  .news-article-media {
    display: block;
    max-width: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  .news-article-img img {
    @apply w-full h-auto block;
  }

  .news-article-caption {
    margin-top: 4px;
    text-align: center;
    font-size: var(--font-size-small);
    color: var(--color-text-light);
  }
}
