      <footer class="footer">
        <div class="footer__container">
          <div class="footer__column">
            <p>
              Ми — команда студентів, яка створює навчальні проєкти у межах
              курсу Web-програмування.
            </p>
          </div>

          <address class="footer__column footer__contacts">
            <h3>Контакти</h3>
            <ul>
              <li>
                Email:
                <a href="mailto:info@example.com">{{studentEmail}}</a>
              </li>
              <li>
                Group:
                <a href="">{{studentGroup}}</a>
              </li>
              <li>Адреса: вул. Прикладна, 1, Київ, Україна</li>
            </ul>
          </address>
        </div>
      </footer>