      <header class="header">
        <h1 class="header__title">{{labName}}</h1>
        <nav class="navigation" aria-label="Головна навігація">
          <ul class="navigation__list">
            <li class="navigation__item">
              <button class="navigation__button" id="switch-theme-button">
                Switch Thema
              </button>
            </li>
            <li class="navigation__item">
              <a href="index.html" class="navigation__link" aria-current="page">
                Home
              </a>
            </li>
            <li class="navigation__item">
              <a href="./pages/about.html" class="navigation__link">About</a>
            </li>
            <li class="navigation__item">
              <a href="./pages/contacts.html" class="navigation__link">
                Contacts
              </a>
            </li>
          </ul>
        </nav>
      </header>