<!DOCTYPE html>
<html class="" lang="en">
<head>
    {{> head pageTitle=pageTitle}}
</head>
<body>
    <div class="webpage-container">
        {{> header }}
        {{> aside }}
    
    
    <main class="main">
        
        {{> @partial-block}}
    </main>
    {{> footer studentGroup=studentGroup studentEmail=studentEmail}}
    </div>
    <script type="module" src="/src/App.js"></script>
</body>
</html>